# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^dailyThoughts/list/$   DailyThoughtController.php?view=all [nc,qsa]
RewriteRule ^dailyThoughts/years/$   DailyThoughtController.php?view=years [nc,qsa]
RewriteRule ^dailyThoughts/months/([0-9]+)/$   DailyThoughtController.php?view=months&year=$1 [nc,qsa]